.underline{
    border-bottom: 1px solid lightgray;
    padding-bottom: 7px;
}

.btnRegular{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
}