.searchContainer{
    background-color: black;
    text-align: center;
    line-height: 40px;
    margin-bottom: 40px;
}

.searchContainer input{
    width: 75%;
}
.shopContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.productContainer{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 50px;
}