.searchContainer{
    text-align: center;
    line-height: 40px;
    padding: 30px;
    
}

.searchContainer input{
    width: 100%;
    border-radius: 20px;
}

.searchContainer input:hover{
    color: rgb(161, 150, 150);
    background-color: rgb(255, 218, 253);
}

.shopContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.productContainer{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 50px;
}

