.shopContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.productContainer{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 50px;
}
.logo{
    /* padding-left: 450px;
    margin-top: 10px;
    margin-bottom: 10px; */
    
}